 <div class="right-content left">

            <div class="banner-partner">
                <a href="https://www.atomika.mx/" target="_blank"> <img src="/{{ STATIC_URL }}imgs/BANNER-ATOMIKA.jpg" class="img-partner"></a>
            </div>

            {% if request.user.is_authenticated %}

            <div class="banner-feedback separate-banner">

                <div class="content-feedback-banner">

                    <div class="left">
                        <input type="email" class="input-feedback" placeholder="Escribe tus comentarios" id="input-feedback" name="input-feedback"/>
                    </div>

                    <div class="left btn-send-comment-feedback" id="img-send-feedback-div" onclick="feedback();">

                        <div class="btn-send-div">
                          <a href="javascript:void(0)"><img src="/{{ STATIC_URL }}imgs/send.png" class="img-send-feedback" id="img-send-feedback"></a>
                        </div>

                    </div>
                    <div class="clear"></div>

                </div>

            </div>

            {% endif %}



        </div>