<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>FeelKm</title>
<!--<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>-->
<link rel="stylesheet" href="{{ STATIC_URL }}css/header.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" />
{% include "Scripts/scripts.html" %}
<script src="/{{ STATIC_URL }}scripts/header.js"></script>
<script src="/{{ STATIC_URL }}scripts/search-big.js"></script>
<script type="text/javascript">
{% include "Scripts/secript_search_header.html" %}
</script>
</head>
<body>
{% include "Scripts/fbsdk.html" %}
{% include "Header/register-login.html" %}
<header>
{% include "Home/header.html" %}
</header>
<div class="imgBackGround">
</div>

<div class="SearchContent">
    <form method="post" id="search-form" name="search-form">{% csrf_token %}
	<div class="txtSearchC_Title">Descubre tu pr&oacute;xima carrera</div>
	<div class="txtSearchC_TitleSub">Todas las carreras alrededor del mundo.</div>
	<div class="borderInput">
	<input class="searchInputGo" name="q" id="q" type="text"  value="" style="font-weight: lighter;" placeholder="Busca carreras por nombre, ciudad, distancia etc...">
	</div>
	<div class="btnSearch"><div class="SearchTxtB"><a href="javascript:void(0)" onclick="GoSearch();" class="Link-Search">Buscar</a></div></div>
    </form>
</div>

<!--<div class="Suggest">
	<div class="TitleSu left">Eventos cerca de ti</div>
	<div class="left btnMored"><a href="/search/?q=Mexico"><img src="/{{ STATIC_URL }}imgs/mas.png" width="20" height="20" border="0"></a></div>
	<div class="left linkMoreSu"><a href="/search/?q=Mexico" class="link-url-more">M&aacute;s</a></div>
	<div class="clear"></div>

	<div class="listSeE">
		<div id="item_1" class="left">
			<div id="item_1_img" class="left">
				<img src="/{{ STATIC_URL }}imgs/foto-a.png" width="200" height="150">
			</div>

			<div id="item_1_content" class="left leftTxtItem">
				<div class="TitleItem">Medio Maratón de Guadalajara</div>
				<div class="PlaceItem">Guadalajara, Jalisco</div>
				<div class="dateItem">
					<div class="left"><img src="/{{ STATIC_URL }}imgs/fecha.png" width="17" height="15"></div>
					<div class="left dateItemTxt">27 de Octubre de 2014</div>
					<div class="clear"></div>
				</div>
				<div class="Points_Item">
					<div class="FirtsFull left"></div>
					<div class="NextFull left"></div>
					<div class="NextFull left"></div>
					<div class="NextNoFull left"></div>
					<div class="NextNoFull left"></div>
					<div class="NumberOPItem left">17 Opiniones</div>
					<div class="clear"></div>
				</div>
				<div class="CommentItem">
					"El mejor evento de running en GDL"
				</div>
			</div>

			<div class="clear"></div>

		</div>

		<div id="item_2" class="left RightItem">
			<div id="item_2_img" class="left">
				<img src="/{{ STATIC_URL }}imgs/foto-b.png" width="200" height="150">
			</div>

			<div id="item_2_content" class="left leftTxtItem">
				<div class="TitleItem">Maratón de Mazatl&aacute;n</div>
				<div class="PlaceItem">Mazatlán, Sinaloa</div>
				<div class="dateItem">
					<div class="left"><img src="/{{ STATIC_URL }}imgs/fecha.png" width="17" height="15"></div>
					<div class="left dateItemTxt">1 de Diciembre de 2014</div>
					<div class="clear"></div>
				</div>
				<div class="Points_Item">
					<div class="FirtsFull left"></div>
					<div class="NextFull left"></div>
					<div class="NextFull left"></div>
					<div class="NextNoFull left"></div>
					<div class="NextNoFull left"></div>
					<div class="NumberOPItem left">20 Opiniones</div>
					<div class="clear"></div>
				</div>
				<div class="CommentItem">
					"Mucho calor!, pero excelente!!"
				</div>
			</div>

			<div class="clear"></div>

		</div>
		<div class="clear"></div>
	</div>
</div>-->

<!--<div style="margin-top:285px;"></div>-->

<div class="footer" style="margin-top: -140px;">

    <div class="left">
        <div class="title-footer-txt-x">¿Qu&eacute; es FeelKm</div>
        <div class="title-footer-txt-y">FeelKm es la primera plataforma que te<br>permite encontrar la informaci&oacute;n m&aacute;s &uacute;til<br>de tus eventos favoritos y conectarte con<br> otros runners.</div>
    </div>



    <div class="left left-second-fo-ti">
        <div class="title-footer-txt-x">Comenta y Califica</div>
        <div class="title-footer-txt-y">Cu&eacute;ntanos tu experiencia en los<br>eventos que has participado y califica<br>la organizaci&oacute;n, hidrataci&oacute;n y m&aacute;s<br> aspectos de una carrera.</div>
    </div>


    <div class="left left-second-fo-ti">
        <div class="title-footer-txt-xx">Conoce m&aacute;s</div>
        <div class="title-footer-txt-yy">Ingresa tu correo y recibe actualizaciones<br>de nuestra plataforma.</div>

        <div class="input-div-email-sc">

            <form action="//feelkm.us8.list-manage.com/subscribe/post?u=38a761cdf1c2adea6796a3123&amp;id=b8eb11d270" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>


                <div class="left ">
                <input type="email" value="" name="EMAIL" class="email input-mail-mail-list" id="mce-EMAIL" placeholder="Ingresa tu Correo Electr&oacute;nico" required>
                </div>

                <div class="left btn-submit-s">
                    
                    <img src="/{{ STATIC_URL }}imgs/enviar.png" width="18" height="20" id="submit-send-maillist" onclick="document.getElementById('mc-embedded-subscribe-form').submit();">



                <!--<div class="top-btn-mail-list"><input type="submit" value="Suscribir" name="subscribe" id="mc-embedded-subscribe" class="button btn-new-mail-list"></div>-->

                </div>

                <div class="clear"></div>


                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -10000px;"><input type="text" name="b_38a761cdf1c2adea6796a3123_b8eb11d270" tabindex="-1" value=""></div>

            </form>


        </div>

    </div>


    <div class="clear"></div>


    <div class="left footer-b-d">
	<div class="left btnContact"><img src="/{{ STATIC_URL }}imgs/email.png"></div>
	<div class="textContact left"><a href="mailto:hello@feelkm.com?Subject=FeelKm%20Contact" target="_top" class="txt-footer-contact">Contacto</a></div>
	<div class="textFaceC left"><a class="link-facebook-footer" href="https://www.facebook.com/FeelKm" target="_blank">Facebook</a></div>
	<div class="left facelike">
		<div class="fb-like" data-href="https://www.facebook.com/FeelKm" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
	</div>
	<div class="clear"></div>

    </div>



	<div class="txtFooter left">&copy; FeelKm 2014. Algunos Derechos Reservados.</div>

    <div class="clear"></div>
    <div style="height:100px;"></div>

</div>





{% include "Google/analytics.html" %}

</body>
</html>