.right-content
{
    margin-left: 31px;
	margin-top: 7px;
}

.img-partner
{
    width: 300px;
    height: 300px;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
}

.separate-banner{
    margin-top: 13px;
}

.banner-feedback
{
    background-image: url("../imgs/banner_feelkm.jpg"); /* all icons in a single file */
    background-repeat: no-repeat;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    width: 300px;
    height: 230px;
      -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.input-feedback
{
    width: 205px;
    height: 35px;
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #878787;
    padding-left: 13px;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.btn-send-comment-feedback
{
    background-color: #58be92;
    width: 38px;
    height: 39px;
    margin-left: 5px;
    cursor: pointer;
     -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

}

.btn-send-comment-feedback:hover{
    background-color:#8bcfb5;
}

.img-send-feedback{
    width: 18px;
    height: 12px;
}

.btn-send-div{
    margin-left: 10px;
    margin-top: 13px;
}

.content-feedback-banner
{
    margin-left: 18px;
    margin-top: 169px;
}

.content-feedback-banner-response
{
    margin-left: 18px;
    margin-top: 169px;
    display: none;
}

.txt-response-feedback{

    font-size: 18px;
    color: #ffffff;
    font-family: "Roboto-Light";

}

@font-face {
  font-family: 'Roboto-Light';
  src: url("Roboto-Light.ttf");

}