body{
	margin-left: 0px;
	background-color: #f9f9f9;
	margin-top: 0px;
	margin-right: 0px;
}
/* Aux Styles */
.left{
	float: left;
}

.clear{
	clear: both;
}


/* Header Results */
header
{

width: 1128px;
height: 57px;
margin: 0 auto;
background-color: #ffffff;

}

.header_content{
width: 1128px;
margin: 0 auto;
}

.logo{
	width: 97px;
	height: 25px;
	margin-left: 0px;
	margin-top: 19px;
}

.inputSearchH{
	margin-left: 8px;
	margin-top: 11px;
}

.inputSearchHi{
	width: 250px;
	height: 32px;
	background-color: #ffffff;
	color: #9a9a9a;
	font-family: "Helvetica";
	font-size: 13px;
	border-style: solid;
	border-width: 1px;
	border-color: #dcdcdc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-left: 30px;

	background-image: url("../imgs/iconSearchW.png"); /* all icons in a single file */
    background-repeat: no-repeat;
    background-position: 10px 11px; /* position of the right icon */
    font-weight: lighter;

}

/* individual elements: webkit */
#inputSearchHi::-webkit-input-placeholder { 
	color:#9a9a9a;
    
}

/* individual elements: mozilla */
#inputSearchHi::-moz-placeholder { 
	color:#9a9a9a;

}

.linkE{

	font-family: "Helvetica";
	font-size: 14px;
	color: #616161;
	font-style: normal;
	text-decoration: none;
	font-weight: lighter;
}

.linkELR{

   font-family: "Helvetica";
	font-size: 14px;
	color: #f96450;
	font-style: normal;
	text-decoration: none;

}

.linkMarathon{
	margin-left: 30px;
	margin-top: 20px;
}

.linkHalf{
	margin-left: 42px;
	margin-top: 20px;
}

.link10k{
	margin-left: 34px;
	margin-top: 20px;
}

.link5k{
	margin-left: 34px;
	margin-top: 20px;
}


.linkRegister{

	margin-left: 180px;
	margin-top: 20px;

}

.linkLogin{

	margin-left: 22px;
	margin-top: 20px;

}


.content_info{
	width: 1128px;
	margin: 0 auto;
	margin-top: 87px;

}


/* Content results */

.infoGlobal{

	margin-left: 74px;

}

.Footer_Result{
	margin-left: 20px;
	margin-top: 41px;
	font-family: Helvetica;
	color: #5e80aa;
	font-size: 15px;
}

.results
{
	
	width: 650px;
	height: 470px;
	margin-top: 7px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #e3e3e3;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ads
{
	margin-left: 31px;
	margin-top: 7px;
}

.imgad{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.ecommerceAds{
	margin-top: 13px;
}

.TitleEcommerce{
	width: 300px;
	height: 40px;
	background-color: #fd5b45;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	-webkit-border-left-radius: 5px;
	-moz-border-left-radius: 5px;

	-webkit-border-right-radius: 5px;
	-moz-border-right-radius: 5px;

}

.imgRunner{
	margin-left: 15px;
	margin-top: 8px;
}

.titleCommer
{
	font-family: RobotoBold;
	margin-left: 13px;
	margin-top: 7px;
	color: #ffffff;
}

.content_commerce{
	width: 298px;
	height: 310px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
}

.numTitleTxt{
	margin-left: 22px;
	margin-top: 24px;
	font-family: Helvetica;
	font-size: 14px;
	color: #7e7e7e;

}

.numTitleTxt_N
{
	color: #fd5e48;

}

.lineR
{
	width: 615px;
	height: 1px;
	background-color: #e3e3e3;
	margin-top: 22px;
	margin-left: 22px;

}

.lineR_R
{
	width: 615px;
	height: 1px;
	background-color: #e3e3e3;
	margin-top: 22px;
	margin-left: 0px;

}


#items{
	margin-left: 22px;
	margin-top: 23px;
}

.leftTxtItem{
	margin-left: 25px;
}

.TitleItem{
	font-family: Helvetica;
	font-weight: bold;
	color: #616161;
	font-size: 16px;
	
}

.PlaceItem{
	margin-top: 10px;
	font-family: Helvetica;
	font-weight: lighter;
	color: #fd5b45;
	font-size: 14px;
}

.dateItem{
	margin-top: 15px;
}

.dateItemTxt{
	font-family: Helvetica;
	font-size: #616161;
	font-weight: lighter;
	font-size: 15px;
	margin-left: 10px;
}

.Points_Item{
	margin-top: 10px;
}

.FirtsFull
{
	width: 11px;
	height: 11px;
	background-color: #e8cb56;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
}


.FirtsNoFull
{
	width: 8px;
	height: 8px;
	border-color: #e8cb56;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
}

.NextFull{
	width: 11px;
	height: 11px;
	background-color: #e8cb56;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin-left: 10px;
}

.NextNoFull{
	width: 8px;
	height: 8px;
	border-color: #e8cb56;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin-left: 10px;
}

.FirtsFull-C{
	width: 11px;
	height: 11px;
	background-color: #e8cb56;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
}

.NextFull-C{
	width: 11px;
	height: 11px;
	background-color: #e8cb56;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin-left: 10px;
}

.NextNoFull-C{
	width: 8px;
	height: 8px;
	border-color: #e8cb56;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin-left: 10px;
}

.NumberOPItem{
	color: #848484;
	font-size: 13px;
	font-family: Helvetica;
	margin-left: 10px;
}

.CommentItem{

	color: #616161;
	font-size: 13px;
	font-family: Helvetica;
	font-weight: lighter;
	font-style: italic;
	margin-top: 10px;

}

.RightItem{
	margin-left: 95px;
}

.items_commerce{
	margin-top: 0px;
	margin-left: 0px;
}

.Item-Top{
	margin-top: 22px;
}
.item_right{
	margin-left: 30px;
}

.img_commerce{
	margin-top: 10px;
}

.Title-Commerce-Item{
	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	color: #616161;
}

.SubTitle-Commerce-Item{
	font-family: Helvetica;
	font-size: 13px;
	font-weight: normal;
	color: #616161;
	margin-top: 5px;
}

.Btn-Item-Commerce{

	width: 79px;
	height: 29px;
	background-color: #73ab98;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	font-family: Helvetica;
	font-size: 13px;
	color: #ffffff;
	margin-top: 10px;


}

.Txt-Button{
	padding-left: 15px;
	padding-top: 5px;
}

.Line-Commerce-Item{
	width: 265px;
	height: 1px;
	background-color: #e2e2e2;
	margin-left: 18px;
	margin-top: 30px;

}

.img_commerce{
	margin-left: 22px;

}

.face-like{

}

.title-event
{
	font-family: Helvetica;
	font-size: 28px;
	font-weight: bold;
	color: #4c4d4e;
    margin-top: 30px;
}

.title-place{

	font-family: Helvetica;
	font-size: 17px;
	font-weight: lighter;
	color: #4c4d4e;
	margin-top: 5px;

}

.Points-Right{
	margin-right: 0px;
	margin-left: 0px;
    margin-top: 10px;
}

.box-info
{

	margin-top: 30px;
}

.box-info-comments
{
	margin-top: 15px;

}

.title-box
{
	width: 670px;
	height: 44px;
	background-color: #efefef;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

	-webkit-border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;


}

.txt-fa{
	font-family: Helvetica;
	font-size: 13px;
	color: #fd5b45;
	font-weight: bold;

}

.txt-fa-c{
	font-family: Helvetica;
	font-size: 13px;
	color: #fd5b45;
	font-weight: bold;
	margin-left: 280px;

}

.link-decoration{
	text-decoration: none;
	color: #fd5b45;
}

.icon-fav{
	margin-left: 10px;
}

.box-into{
	margin-top: 15px;
	margin-left: 500px;
}

.box-into-comments{

	margin-top: 15px;
	margin-left: 15px;

}

.box-content{
	width: 670px;
	height: 210px;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;

	border-radius:  5px;
	border-radius:  5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

    margin-top: 30px;
}

.img-box-info
{
	width: 281px;
	height: 185px;
	border-width: 1px;
	border-style: solid;
	border-color: #dbdbdb;
}

.box-content-info{
	padding-top: 14px;
	padding-left: 15px;
}

.line-b-box
{
	width: 320px;
	border-bottom-width: 1px;
	border-bottom-color: #dbdbdb;
	border-bottom-style: solid;
	margin-top: 8px;

}

.item-box-left-txt{

	font-family: Helvetica;
	font-size: 13px;
	font-weight: bold;
	color: #4c4d4e;
	text-align: left;
	padding-left: 0px;
	margin-left: 0px;
	width: 120px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #cccccc;**/
}

.item-box-right-txt{

	font-family: Helvetica;
	font-size: 13px;
	font-weight: lighter;
	color: #4c4d4e;
	padding-right: 0px;
	margin-left: 58px;
	width: 140px;
	text-align: right;

}

.item-box-right-txt_link{

	font-family: Helvetica;
	font-size: 13px;
	font-weight: lighter;
	color: #4c4d4e;
    text-decoration: none;


}

.items-content
{

	margin-left: 21px;

}

.top-item-box{
	margin-top: 15px;
}

.item-box-left{
	width: 320px;
}

.box-content-comments{
	width: 670px;
	height: auto;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb;

	border-bottom-left-radius:  5px;
	border-bottom-right-radius:  5px;

	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-top-width: 0px;
}

.txt-num-comments{
	
	font-family: Helvetica;
	font-size: 16px;
	color:#4c4d4e;
}

.num-calif
{
	text-align: center;
	font-size: 24px;
	color:#4c4d4e;
	text-align: center;
	font-family: Helvetica;
	font-weight: lighter;
}

.txt-calif{
	text-align: center;
	font-family: Helvetica;
	font-size: 14px;
	color: #4c4d4e;
}

.line-calif{
	width: 70px;
	height: 5px;
	background-color: #e3e3e3;
	margin-top: 5px;
}

.line-calif-p{
	background-color: #fd5b45;
	height: 5px;
}

.box-left-calif{
	margin-left: 31px;
	margin-top: 23px;
}

.box-left-calif-m{
	margin-left: 63px;
	margin-top: 23px;
}

.line-comments-top{
	width: 613px;
	height: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #dbdbdb;
	margin-left: 22px;
	margin-top: 23px;
}

.img-profile-comment
{
	-webkit-border-radius: 35px;
	-moz-border-radius:35px;
	border-radius: 35px;
}

.txt-name-comment{
	font-family: Helvetica;
	color:#536b97;
	font-size: 14px;
	font-weight: bold;

}

.txt-place-comment{

	font-family: Helvetica;
	color:#4c4d4e;
	font-size: 13px;
	font-weight: lighter;
	margin-top: 4px;

}
.txt-title-comment{


	font-family: Helvetica;
	color:#4c4d4e;
	font-size: 17px;
	font-weight: bold;
	margin-top: 20px;

}

.txt-titles-comment{
	margin-left: 15px;
	width: 380px;
	/*border-width: 1px;
	border-style: solid;
	border-color: #cccccc;*/
}


.items-comments-collection{
	margin-top: 15px;
	margin-left: 23px;
}

.txt-date-comment{
	font-family: Helvetica;
	font-size: 13px;
	color: #4c4d4e;
	font-weight: lighter;
	text-align: right;
	margin-left: 64px;
}

.txt-calif-comment{
	text-align: right;
	margin-left: 55px;
	margin-top: 5px;
}

.txt-comment-txt{
	margin-left: 75px;
	width: 520px;
	height: 100px;
	margin-top: 15px;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: lighter;
	color: #4c4d4e;
}

.line-comment-b{

	border-bottom-color: #dbdbdb;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 530px;
	height: 1px;
	margin-left: 75px;
	margin-top: 30px;


}

@font-face
{
font-family: "RoboThin";
src: url("../fonts/Roboto-Thin.ttf");
}

@font-face
{
font-family: "RoboLight";
src: url("../fonts/Roboto-Light.ttf");
}

@font-face
{
font-family: "RobotoThinItalic";
src: url("../fonts/Roboto-ThinItalic.ttf");
}

@font-face
{
font-family: "RobotoBold";
src: url("../fonts/Roboto-Bold.ttf");
}


.share-f-left{
    margin-left: -20px;
}

.share-f-right{
    margin-left: 5px;
}

.btns-tool-event{
    margin-top: 26px;
}
.btn-add-favorite{
    width: 175px;
    height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #afb0b1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #f9f9f9;

}


.btn-add-favorite:hover{
    background-color: #eeeeee;
}

.txt-btn-event-tool
{
    font-family: Helvetica;
    color: #797c7f;
    font-size: 13px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 16px;
}

.txt-btn-event-tool_link
{
    font-family: Helvetica;
    color: #797c7f;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}


.txt-btn-add-pic
{
    font-family: Helvetica;
    color: #797c7f;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.txt-btn-event-tool-add{

    font-family: Helvetica;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin-top: 11px;
    margin-left: 16px;
}

.txt-btn-event-tool-add-link{

    text-decoration: none;
    color: #ffffff;
}

.icon-comme-tool{
    margin-left: 10px;
    margin-top: 11px;
}

.btn-share-pic{
    width: 150px;
    height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #afb0b1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 10px;

}

.btn-share-pic:hover{
    background-color:#eeeeee;

}

.btn-pay{
    width: 119px;
    height: 38px;
	border-style: solid;
	border-width: 1px;
	border-color: #afb0b1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #f9f9f9;
    margin-left: 10px;

}

.btn-pay:hover{
   background-color: #eeeeee;

}

.btn-new-comment{
    width: 175px;
    height: 38px;
	border-width: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #fd5b45;
    margin-left: 27px;

}


.display_no{
    display: none;
}

.display_yes{
    display: normal;
}


.item-my-comments{

}

