body{
	margin-left: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;

}
/* Aux Styles */
.left{
	float: left;
}

.clear{
	clear: both;
}

/* Header Styles */



/* Image BackGround */

@media (min-width: 0px) and (max-width: 1280px) {


	.imgBackGround{
		background-image: url('../imgs/fondo-1280px.jpg');
		background-repeat:no-repeat;
		width: 1280px;
		height: 560px;
	}

}

@media (min-width: 1281px) and (max-width: 1440px) {


	.imgBackGround{
		background-image: url('../imgs/fondo-1440px.jpg');
		background-repeat:no-repeat;
		width: 1440px;
		height: 560px;
	}

}

@media (min-width: 1441px) and (max-width: 1680px) {


	.imgBackGround{
		background-image: url('../imgs/fondo-1680px.jpg');
		background-repeat:no-repeat;
		width: 1680px;
		height: 560px;
	}

}


@media (min-width: 1681px) and (max-width: 1920px) {


	.imgBackGround{
		background-image: url('../imgs/fondo-1920px.jpg');
		background-repeat:no-repeat;
		width: 1920px;
		height: 560px;
	}

}

/* Search Content */

.SearchContent{

	width: 1128px;
	height: 200px;
	margin: 0 auto;
	position: relative;
	top: -419px;

}

.txtSearchC_Title
{
	font-family: 'Roboto';
	text-align: center;
	color: #ffffff;
    font-size:50px;
    letter-spacing: 0px;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    font-smoothing:antialiased;
    o-font-smoothing:antialiased;
    ms-font-smoothing:antialiased;


}

.txtSearchC_TitleSub
{
	font-family: 'Roboto-Light';
	text-align: center;
	color: #ffffff;
	font-size: 18px;
	font-weight: 200;

}


.borderInput{
	text-align: center;
	margin-top: 54px;
	
	
}

.searchInputGo{
	background-color: #ffffff;
	opacity: 1;
	width: 750px;
	height: 50px;
	border-color: #dcc9c7;
	border-style: solid;
	border-width: 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Helvetica;
	color: #868383;
	padding-left: 20px;
	font-size: 16px;
	font-weight: lighter;
    text-decoration: none;
}


.btnSearch
{

	width: 88px;
	height: 40px;
	background-color: #fd5e48;
	-webkit-border-radius: 3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	font-family: "Helvetica";
	font-weight: lighter;
	color: #ffffff;
	font-size: 16px;	
	text-align: center;
	position: relative;
	top: -50px;
	left: 856px;
	cursor: pointer;


}


.btnSearch:hover
{

	background-color: #fd6d57;


}

.Link-Search{
	text-decoration: none;
	color: #ffffff;
    font-weight: bold;
}

.SearchTxtB{
	padding-top: 12px;

}

/* Suggest Events */

.Suggest
{
	width: 1128px;
	height: 56px;
	margin: 0 auto;
	margin-top: -140px;
    padding-left: 180px;
}

.TitleSu
{
	font-family: Helvetica;
	color: #848484;
	font-size: 25px;
	font-weight: lighter;
}


.btnMored{
	margin-top: 5px;
	margin-left: 20px;
}

.linkMoreSu{
	font-family: Helvetica;
	color: #9acaba;
	font-size: 16px;
	font-weight: lighter;
	margin-left: 9px;
	margin-top: 8px;
}

.link-url-more{
	font-family: Helvetica;
	color: #9acaba;
	font-size: 16px;
	font-weight: lighter;
	text-decoration: none;
}


.listSeE{
	margin-top: 60px;
}

.leftTxtItem{
	margin-left: 25px;
}

.TitleItem{
	font-family: Helvetica;
	font-weight: bold;
	color:  #616161;
	font-size: 16px;
	
}

.PlaceItem{
	margin-top: 9px;
	font-family: Helvetica;
	font-weight: lighter;
	color: #fd5b45;
	font-size: 14px;
}

.dateItem{
	margin-top: 10px;
}

.dateItemTxt{
	font-family: Helvetica;
	font-size: #616161;
	font-weight: lighter;
	font-size: 15px;
	margin-left: 10px;
}

.Points_Item{
	margin-top: 34px;
}

.FirtsFull{
	width: 14px;
	height: 14px;
	background-color: #e8cb56;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
}

.NextFull{
	width: 14px;
	height: 14px;
	background-color: #e8cb56;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin-left: 6px;
}

.NextNoFull{
	width: 11px;
	height: 11px;
	border-color: #e8cb56;
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	-webkit-border-radius: 10px;
	-moz-border-radius:10px;
	border-radius: 10px;
	margin-left: 6px;
}

.NumberOPItem{
	color: #848484;
	font-size: 13px;
	font-family: Helvetica;
	margin-left: 10px;
}

.CommentItem{

	color: #616161;
	font-size: 13px;
	font-family: Helvetica;
	font-weight: lighter;
	font-style: italic;
	margin-top: 10px;

}

.RightItem{
	margin-left: 95px;
}

.footer{
	width: 1128px;
	margin: 0 auto;
	height: 80px;
    padding-left: 141px;

}


.textContact{

	color: #fd5e48;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: lighter;
	margin-left: 15px;
}

.textFaceC{
	color: #616161;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: lighter;
	margin-left: 0px;

}

.btnContact{

}

.txtFooter{

	color: #9d9d9d;
	font-size: 14px;
	font-family: Helvetica;
	font-weight: lighter;
	margin-left: 300px;
    margin-top: 126px;


}

.facelike{
	margin-left: 26px;
}

.link-facebook-footer{

    color: #616161;
	font-size: 16px;
	font-family: Helvetica;
	font-weight: lighter;
    text-decoration: none;

}

.txt-footer-contact{
    color: #616161;
	font-size: 16px;
	font-family: Helvetica;
    text-decoration: none;
}


.autocomplete-suggestions {
    font-family: Helvetica;
    font-weight: lighter;
    border: 1px solid #999;
    background: #FFF;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);

}


.autocomplete-suggestion {
    /*padding: 2px 10px; */
    padding-left: 15px;
    padding-top: 15px;
    white-space: nowrap;
    overflow: hidden;
    height: 35px;
    font-size: 13px;
    color: #616161;



}

.autocomplete-selected { background: #f1f1f1; font-size: 13px; height: 35px;   color: #616161;

 padding-left: 15px;
    padding-top: 15px;
}
.autocomplete-suggestions strong { font-weight: normal; color: #616161; font-size: 13px; }



.mail-list{
    text-align: center;
}

.txt-title-mail-list{
    color: #616161;
	font-size: 16px;
	font-family: Helvetica;
    font-weight: bold;
    margin-left: -85px;
}

.top-btn-mail-list{
    margin-top: 10px;
}

.input-mail-mail-list
{

    background-color: #ffffff;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    border-color: #dcdcdc;
    border-width: 1px;
    border-style: solid;
    width: 230px;
    height: 32px;
    font-size: 12px;
    font-family: Helvetica;
    color: #616161;
    padding-left: 10px;
    font-weight: lighter;
}

.btn-new-mail-list{
    width: 100px;
    height: 40px;
	border-width: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    background-color: #fd5b45;
    margin-left: 27px;
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-top: -10px;
    margin-left: 5px;
}



.top-f-x{
    margin-top: 20px;
}


@font-face {
  font-family: 'Roboto';
  font-weight: 100;
  src: url("Roboto-Thin.ttf");

}


@font-face {
  font-family: 'Roboto-Light';
  src: url("Roboto-Light.ttf");

}


.input-div-email-sc{
    margin-top: 5px;
}


.btn-submit-s{
    width: 34px;
    height: 27px;
    background-color: #55be96;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
    margin-left: 4px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 8px;



}

.btn-submit-s:hover{

    background-color: #8bcfb5;


}


.footer-b-d{
    margin-top: 111px;
    margin-left: -8px;
}