<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>FeelKm</title>
<link rel="stylesheet" href="/{{ STATIC_URL }}css/header.css" type="text/css" />
<link rel="stylesheet" href="/{{ STATIC_URL }}css/style_info.css" type="text/css" />
{% include "Scripts/scripts.html" %}
<script src="/{{ STATIC_URL }}scripts/header.js"></script>

<script type="text/javascript">

$(function() {

      $('form').each(function() {

        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {

                if(this.form.id=="search-form-top"){

                  this.form.action="/search/?q="+$("#inputSearchHi").val()+"";

                }


                if(this.form.id=="search-form"){

                  this.form.action="/search/?q="+$("#q").val()+"";
                }


                this.form.submit();


            }
        });


    });



    $( "#addComment-no-login" ).click(function() {

        //alert("hola");

        $( "#box-access" ).fadeIn( "slow" );

        $( "#box-login-form" ).fadeIn( "slow" );

    });

      $( "#addComment-pic-no-login" ).click(function() {

        //alert("hola");

        $( "#box-access" ).fadeIn( "slow" );

        $( "#box-login-form" ).fadeIn( "slow" );

    });

     $("#add_favorites_logout" ).click(function() {

        //alert("hola");

        $( "#box-access" ).fadeIn( "slow" );

        $( "#box-login-form" ).fadeIn( "slow" );

    });



$("#add_favorites").click(function() {

alert("add");

favorite(1);

});

$("#remove_favorites").click(function() {

alert("remove");

favorite(0);

});



});



function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


 function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }

function favorite(stf){



            var csrftoken = getCookie('csrftoken');

                        $.ajaxSetup({
                             beforeSend: function(xhr, settings) {

                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }

                        });



         $.ajax({
             type: "POST", url: "/favorites/",
             success:function(){




             },

             error:function(){

                alert("Error, vuelva a intentarlo");

             },

             statusCode: {
                        404: function() {

                        alert("Error, vuelva a intentarlo");

              }
             },


             data: {
                    stf:stf,
                    id_event:"{{ data2.id }}",

                    }

         }) .done(function( msg ) {

                //alert(msg);

                //alert(stf);

                if(stf==1)
                {

                    if(msg=="1"){

                    //alert("chango");



                    $("#add_favorites_div").removeClass("display_yes");
                    $("#add_favorites_div_2").removeClass("display_yes");

                    $("#add_favorites_div").addClass("display_no");
                    $("#add_favorites_div_2").addClass("display_no");


                    $("#remove_favorites_div").removeClass("display_no");
                    $("#remove_favorites_div_2").removeClass("display_no");

                    $("#remove_favorites_div").addClass("display_yes");
                    $("#remove_favorites_div_2").addClass("display_yes");


                    }


                }else{

                /* Remove Favorite */

                if(msg=="1"){

                    $("#add_favorites_div").removeClass("display_no");
                    $("#add_favorites_div_2").removeClass("display_no");

                    $("#add_favorites_div").addClass("display_yes");
                    $("#add_favorites_div_2").addClass("display_yes");



                    $("#remove_favorites_div").addClass("display_no");
                    $("#remove_favorites_div_2").addClass("display_no");

                }

                }


         });



}

{% include "Scripts/secript_search_header.html" %}


</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</head>
<body>

<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=222474031234173&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% include "Header/register-login.html" %}
<div class="header-header">
<header>

{% include "Home/header.html" %}

</header>
</div>



<div class="content_info">
    {% load dictionary_extras %}
    {% for arg in data %}
	<div class="infoGlobal left">

	<div class="face-like">
        <div class="left"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></div>
        <div class="left share-f-left"><div class="fb-like" data-href="https://www.facebook.com/FeelKm" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div></div>
        <div class="left share-f-right"><div class="fb-share-button" data-href="{{request.get_full_path| urlencode}}" data-type="button_count"></div></div>
        <div class="clear"></div>
	</div>

	<div class="title-event">
	{{ arg.name_event }}
	</div>

	<div class="title-place">
		{{ arg.city }}, {{ arg.region }} {{ arg.country }}


	</div>

	<div class="Points-Right">

				<div class="Points_Item">


                        {% if calif_avg == 0 %}
                        <div class="FirtsNoFull left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}


                        {% if calif_avg == 1 %}
                        <div class="FirtsFull left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}


                        {% if calif_avg == 2 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}

                        {% if calif_avg == 3 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}

                        {% if calif_avg == 4 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}


                        {% if calif_avg == 5 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
                        {% endif %}


						<div class="NumberOPItem left">{{ number_comments }} Opiniones </div>
						<div class="clear"></div>
					</div>

	</div>

    <div class="btns-tool-event">
        <div class="left btn-add-favorite">

            {% if request.user.is_authenticated %}

                {% if number_favorites > 0 %}


                <div class="left txt-btn-event-tool" id="remove_favorites_div"><a href="javascript:void(0)" class="txt-btn-event-tool_link" id="remove_favorites">Quitar de Favoritos</a></div>
                <div class="left icon-comme-tool" id="remove_favorites_div_2"><img src="/{{ STATIC_URL }}imgs/favoritos.png" width="14" height="12"></div>


                <div class="left txt-btn-event-tool display_no" id="add_favorites_div"><a href="javascript:void(0)" class="txt-btn-event-tool_link" id="add_favorites">Agregar a Favoritos</a></div>
                <div class="left icon-comme-tool display_no" id="add_favorites_div_2"><img src="/{{ STATIC_URL }}imgs/favoritos.png" width="14" height="12"></div>

                {% else %}

                <div class="left txt-btn-event-tool" id="add_favorites_div"><a href="javascript:void(0)" class="txt-btn-event-tool_link" id="add_favorites">Agregar a Favoritos</a></div>
                <div class="left icon-comme-tool" id="add_favorites_div_2"><img src="/{{ STATIC_URL }}imgs/favoritos.png" width="14" height="12"></div>

                <div class="left txt-btn-event-tool display_no" id="remove_favorites_div"><a href="javascript:void(0)" class="txt-btn-event-tool_link" id="remove_favorites">Quitar de Favoritos</a></div>
                <div class="left icon-comme-tool display_no" id="remove_favorites_div_2"><img src="/{{ STATIC_URL }}imgs/favoritos.png" width="14" height="12"></div>

                {% endif %}




            {% else %}

            <div class="left txt-btn-event-tool"><a href="javascript:void(0)" class="txt-btn-event-tool_link" id="add_favorites_logout">Agregar a Favoritos</a></div>
            <div class="left icon-comme-tool"><img src="/{{ STATIC_URL }}imgs/favoritos.png" width="14" height="12"></div>

            {% endif %}
            <div class="clear"></div>


        </div>
        <div class="left btn-share-pic">

            {% if request.user.is_authenticated %}

                <div class="left txt-btn-event-tool"><a href="/{{ arg.country | strip }}/{{ arg.year_event }}/{{ arg.month_event }}/{{ arg.day_event }}/running/{{arg.name_event | replacestr }}/{{ arg.id }}/New-Comment/" class="txt-btn-add-pic">Compartir Foto</a></div>
                {% else %}

                <div class="left txt-btn-event-tool"><a href="javascript:void(0)" class="txt-btn-add-pic" id="addComment-pic-no-login">Compartir Foto</a></div>
                {% endif %}

            <div class="left icon-comme-tool"><img src="/{{ STATIC_URL }}imgs/foto.png" width="16" height="13"></div>
            <div class="clear" ></div>
        </div>
        <div class="left btn-pay">

            <div class="left txt-btn-event-tool"><a href="{{ arg.web }}" class="txt-btn-add-pic" target="_blank">Inscripci&oacute;n</a></div>
            <div class="left icon-comme-tool"><img src="/{{ STATIC_URL }}imgs/inscripcion.png" width="14" height="14"></div>
            <div class="clear" ></div>
        </div>
        <div class="left btn-new-comment">
            <div class="left txt-btn-event-tool-add">

                {% if request.user.is_authenticated %}
                <a href="/{{ arg.country | strip }}/{{ arg.year_event }}/{{ arg.month_event }}/{{ arg.day_event }}/running/{{arg.name_event | replacestr }}/{{ arg.id }}/New-Comment/" class="txt-btn-event-tool-add-link">Escribir Comentario</a>
                {% else %}
                <a href="javascript:void(0)" class="txt-btn-event-tool-add-link" id="addComment-no-login">Escribir Comentario</a>
                {% endif %}


            </div>
            <div class="left icon-comme-tool"><img src="/{{ STATIC_URL }}imgs/escribir-comentario.png" width="12" height="12"></div>
            <div class="clear" ></div>
        </div>
        <div class="clear"></div>
    </div>


	<!--<div class="box-info">
		<div class="title-box">
			<div class="box-into">
				<div class="txt-fa left"><a href="" class="link-decoration">Agregar a Favoritos</a></div>
				<div class="icon-fav left"><img src="/{{ STATIC_URL }}imgs/favorite-icon.png" width="14" height="12"></div>
				<div class="clear"></div>
			</div>

		</div>

	</div>-->

		<div class="box-content">
			<div class="box-content-info">
				<div class="pics-content left">

                    {% for pics in photos_events %}


                            {% for p in pics%}

                                {% if p == arg.id %}

                                    <!-- Iter pics -->



                                    {% for key,value in pics.items %}



                                        {% if value %}

                                            <!--El random: {{ value | shuffle }}-->


                                         <img src="http://res.cloudinary.com/htyoqtggc/image/upload/h_130,w_200/{{ value | shuffle }}.jpg"  class="img-box-info">



                                        {% else %}


                                         <img src="/img/{{ arg.id }}/" class="img-box-info">


                                        {% endif %}


                                    {% endfor %}


                                {% endif %}

                            {% endfor %}

                  {% endfor %}



                </div>
				<div class="items-content left">

					<div class="item-box-left">
						<div class="item-box-left-txt left">Pr&oacute;ximo Evento</div>
						<div class="item-box-right-txt left">{{ arg.date_event }}</div>
						<div class="clear"></div>
						<div class="line-b-box"></div>
					</div>

					<div class="item-box-left top-item-box">
						<div class="item-box-left-txt left">Lugar</div>
						<div class="item-box-right-txt left">{{ arg.city }}, {{ arg.region }} {{ arg.country }}</div>
						<div class="clear"></div>
						<div class="line-b-box"></div>
					</div>

					<div class="item-box-left top-item-box">
						<div class="item-box-left-txt left">Distancia</div>
						<div class="item-box-right-txt left">{{ arg.distan_txt }}</div>
						<div class="clear"></div>
						<div class="line-b-box"></div>
					</div>

					<div class="item-box-left top-item-box">
						<div class="item-box-left-txt left">P&aacute;gina Web</div>
						<div class="item-box-right-txt left"><a class="item-box-right-txt_link" href="{{ arg.web }}" target="_blank">Visitar</a></div>
						<div class="clear"></div>
						<div class="line-b-box"></div>
					</div>

					<div class="item-box-left top-item-box">
						<div class="item-box-left-txt left">Social</div>
						<div class="item-box-right-txt left">Facebook , Twitter.</div>
						<div class="clear"></div>
						<!--<div class="line-b-box"></div>-->
					</div>


				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="box-info-comments">
			<div class="title-box">
				<div class="box-into-comments">
				    <div class="txt-num-comments"><strong>{{ number_comments }}</strong> Opiniones de corredores</div>

				</div>

			</div>

	    </div>
	    <div class="box-content-comments">
	    	<div class="left box-left-calif">
	    		<div class="num-calif">{{ calif_5_count }}</div>
	    		<div class="txt-calif">Excelente</div>
	    		<div class="line-calif">
	    			<div class="line-calif-p" style="width:{{ calif_5_count_p }}px;"></div>
	    		</div>
	    	</div>

	    	<div class="left box-left-calif-m">
	    		<div class="num-calif">{{  calif_4_count }}</div>
	    		<div class="txt-calif">Bueno</div>
	    		<div class="line-calif">
	    			<div class="line-calif-p" style="width:{{ calif_4_count_p }}px;"></div>
	    		</div>
	    	</div>

	    	<div class="left box-left-calif-m">
	    		<div class="num-calif">{{ calif_3_count }}</div>
	    		<div class="txt-calif">Regular</div>
	    		<div class="line-calif">
	    			<div class="line-calif-p" style="width:{{ calif_3_count_p }}px;"></div>
	    		</div>
	    	</div>

	    	<div class="left box-left-calif-m">
	    		<div class="num-calif">{{ calif_2_count }}</div>
	    		<div class="txt-calif">Malo</div>
	    		<div class="line-calif">
	    			<div class="line-calif-p" style="width:{{ calif_2_count_p }}px;"></div>
	    		</div>
	    	</div>

	    	<div class="left box-left-calif-m">
	    		<div class="num-calif">{{ calif_1_count }}</div>
	    		<div class="txt-calif">Pesimo</div>
	    		<div class="line-calif">
	    			<div class="line-calif-p" style="width:{{ calif_1_count_p }}px;"></div>
	    		</div>
	    	</div>

	    	<div class="clear"></div>

	    	<div class="line-comments-top"></div>

	    	<div class="items-comments-collection">



                {% for comment in comments %}

                    {{ comment.comment }}

	    		<div class="item-comment">

	    			<div class="left">
	    				<img src="/{{ STATIC_URL }}imgs/mno.jpg" width="60" height="60" class="img-profile-comment">
	    			</div>
	    			<div class="txt-titles-comment left">
	    				<div class="txt-name-comment">Manuel Navarro</div>
	    				<div class="txt-place-comment">Guadalajara, Jalisco</div>
	    				<div class="txt-title-comment">Excelente Evento deportivo</div>
	    			</div>
	    			<div class="left">
	    				<div class="txt-date-comment">6 de Junio 2014</div>
	    				<div class="txt-calif-comment">
		    				<div class="FirtsFull-C left"></div>
							<div class="NextFull-C left"></div>
							<div class="NextFull-C left"></div>
							<div class="NextNoFull-C left"></div>
							<div class="NextNoFull-C left"></div>
							<div class="clear"></div>
	    				</div>
	    			</div>
	    			<div class="clear"></div>

	    			<div class="txt-comment-txt">
	    				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent dolor purus, tempus ut tortor vel, malesuada tincidunt sem. Sed egestas laoreet nisl ut egestas. Morbi ante turpis, auctor et metus non, porta lobortis mi. Nulla facilisi. Cras faucibus velit ac augue scelerisque egestas. Morbi nulla velit, rutrum vel volutpat accumsan, vulputate vel odio. Nunc vitae massa odio. Mauris in magna et nunc ullamcorper feugiat vel a mauris.
	    			</div>

	    			<div class="line-comment-b"></div>
	    			<p></p>

	    		</div>

                {% endfor %}

	    	</div>

	    </div>


	</div>
    {% endfor %}

	<div class="ads left">
		<div><img src="/{{ STATIC_URL }}imgs/ad1.png" width="300" height="301" class="imgad"></div>

		<div class="ecommerceAds">

			<div class="TitleEcommerce">
				<div class="left imgRunner"><img src="/{{ STATIC_URL }}imgs/runner.png" width="22" height="24"></div>
				<div class="left titleCommer">EQU&Iacute;PATE</div>
				<div class="clear"></div>
			</div>

			<div class="content_commerce">

				<div class="items_commerce">

					<div id="item_commerce_1" class="Item-Top">
						<div class="left img_commerce">
							<img src="/{{ STATIC_URL }}imgs/iwat.png" width="106" height="64">
						</div>
						<div class="left item_right">
							<div class="Title-Commerce-Item">TomTom</div>
							<div class="SubTitle-Commerce-Item">Runner Cardio</div>
							<div class="Btn-Item-Commerce"><div class="Txt-Button">Comprar</div></div>
						</div>
						<div class="clear"></div>
						<div class="Line-Commerce-Item"></div>
					</div>

					<div id="item_commerce_2" class="Item-Top">
						<div class="left img_commerce">
							<img src="/{{ STATIC_URL }}imgs/iwat.png" width="106" height="64">
						</div>
						<div class="left item_right">
							<div class="Title-Commerce-Item">TomTom</div>
							<div class="SubTitle-Commerce-Item">Runner Cardio</div>
							<div class="Btn-Item-Commerce"><div class="Txt-Button">Comprar</div></div>
						</div>
						<div class="clear"></div>
						<div class="Line-Commerce-Item"></div>
					</div>

				</div>

			</div>

		</div>
	</div>
	<div class="clear"></div>
</div>

</body>
</html>