{% load dictionary_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>FeelKm</title>
<link rel="stylesheet" href="/{{ STATIC_URL }}css/header.css" type="text/css" />
<link rel="stylesheet" href="/{{ STATIC_URL }}/css/myprofile.css" type="text/css" />
{% include "Scripts/scripts.html" %}
<script src="/{{ STATIC_URL }}scripts/header.js"></script>
<script type="text/javascript">

$(function() {

      $('form').each(function() {

        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {

                if(this.form.id=="search-form-top"){

                  this.form.action="/search/?q="+$("#inputSearchHi").val()+"";

                }


                if(this.form.id=="search-form"){

                  this.form.action="/search/?q="+$("#q").val()+"";
                }


                this.form.submit();


            }
        });


    });


    $("#link-btn-info-general").click(function() {



            $("#link-btn-info-general").addClass("link-left-btn-edi-pro-active");
            $("#link-btn-info-general").removeClass("link-left-btn-edi-pro-no-active");

            $("#icon-edit-profile-left-gen-img").attr('src', '/{{ STATIC_URL }}imgs/informacion-general-on.png');

            $("#bar-left-general").addClass("left-btn-bar-status-active");
            $("#bar-left-general").removeClass("left-btn-bar-status-no-active");

            /* Next btns conf */

             $("#link-btn-change-password").addClass("link-left-btn-edi-pro-no-active");
             $("#link-btn-change-password").removeClass("link-left-btn-edi-pro-active");


             $("#icon-edit-profile-left-change-pass").attr('src', '/{{ STATIC_URL }}imgs/cambiar-contrasena-off.png');
             $("#bar-left-password").addClass("left-btn-bar-status-no-active");
             $("#bar-left-password").removeClass("left-btn-bar-status-active");


             /* Change right */

             $("#title-info-change-password").fadeOut("fast",function(){

                $("#title-info-general").fadeIn();

             });


             $("#content-info-change-password").fadeOut("fast",function(){

                $("#content-info-general").fadeIn();

             });


    });


    $("#link-btn-change-password").click(function() {


            $("#link-btn-info-general").addClass("link-left-btn-edi-pro-active");

            $("#link-btn-change-password").addClass("link-left-btn-edi-pro-active");
            $("#link-btn-change-password").removeClass(" link-left-btn-edi-pro-no-active");


            $("#icon-edit-profile-left-change-pass").attr('src', '/{{ STATIC_URL }}imgs/cambiar-contrasena-on.png');
            $("#bar-left-password").addClass("left-btn-bar-status-active");
            $("#bar-left-password").removeClass("left-btn-bar-status-no-active");



            /* Next btns conf */

            $("#link-btn-info-general").addClass("link-left-btn-edi-pro-no-active");
            $("#link-btn-info-general").removeClass("link-left-btn-edi-pro-active");

            $("#icon-edit-profile-left-gen-img").attr('src', '/{{ STATIC_URL }}imgs/informacion-general-off.png');

            $("#bar-left-general").addClass("left-btn-bar-status-no-active");
            $("#bar-left-general").removeClass("left-btn-bar-status-active");

             /* Change right */


             $("#title-info-general").fadeOut("fast",function(){

                $("#title-info-change-password").fadeIn();

             });



             $("#content-info-general").fadeOut("fast",function(){

                $("#content-info-change-password").fadeIn();

             });


    });


$("#btn-change-password-action").click(function(){

function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        }

      function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

            var csrftoken = getCookie('csrftoken');


                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                                }
                            }
                             });


       $.ajax({
             type: "POST", url: "/change-password/",

             data: {
                     currentpassword: $("#current-password").val(),
                     newpassword:     $("#new-password").val()

                    }

         }) .done(function( msg ) {

            alert(msg);

            if(msg=="1"){

                 $("#bottom-alert-status-perfil").fadeIn("fast");
                  $("#img-send-op").fadeIn("fast");
                  $("#status-content-operation" ).html("Cambios fueron guardados satisfactoriamente.");


             }

             if(msg=="0"){

                  $("#bottom-alert-status-perfil").fadeIn("fast");
                  $("#img-send-op").fadeOut("fast");
                  $("#status-content-operation" ).html("Ning&uacute;n campo puede permanecer vac&iacute;o");


             }

         });

      });



});

{% include "Scripts/secript_search_header.html" %}



</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</head>
<body>
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=222474031234173&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="header-header">
<header>

{% include "Home/header.html" %}

</header>
</div>



<div class="content_info">

    <div class="left edit-profile-box-left">

        <div class="edit-profile-first-btn">
            <div class="left-btn-bar-status-active left" id="bar-left-general"></div>
            <div class="icon-edit-profile-left left"><img src="/{{ STATIC_URL }}imgs/informacion-general-on.png" width="18" height="13" id="icon-edit-profile-left-gen-img"></div>
            <div class="link-txt-left-edit-pro left"><a href="javascript:void(0)" class="link-left-btn-edi-pro-active" id="link-btn-info-general">Informaci&oacute;n General</a></div>
            <div class="clear"></div>
        </div>

        <div class="line-edit-pro-btn"></div>

        <div class="edit-profile-last-btn">

            <div class="left-btn-bar-status-no-active left" id="bar-left-password"></div>
            <div class="icon-edit-profile-left left"><img src="/{{ STATIC_URL }}imgs/cambiar-contrasena-off.png" width="12" height="16" id="icon-edit-profile-left-change-pass"></div>
            <div class="link-txt-left-edit-pro2 left"><a href="javascript:void(0)" class="link-left-btn-edi-pro-no-active" id="link-btn-change-password">Cambiar Contrase&ntilde;a</a></div>
            <div class="clear"></div>

        </div>

        <div class="back-profile-btn">
            <div class="move-back-profile-btn">
                <div class="left"><img src="/{{ STATIC_URL }}imgs/perfil.png" width="14" height="16"></div>
                <div class="left move-link-back-x"><a href="/km/{{ request.user.username }}/" class="link-back-profile">Volver a Perfil</a></div>
                <div class="clear"></div>
            </div>

        </div>

    </div>
    <div class="left edit-profile-box-right">

            <div class="top-title-edit-data">


                    <div class="title-txt-f-info" id="title-info-general">Informaci&oacute;n General</div>
                    <div class="title-txt-f-info" id="title-info-change-password">Cambiar contrase&ntilde;a</div>


            </div>

            <div class="content-info-general" id="content-info-general">
                <div class="left info-gen-pic">

                    <img src="/{{ STATIC_URL }}imgs/perfil-b.png" class="img-profile-style">
                    <div class="div-btn-change-pic"><a href="javascript:void(0)" class="link-change-pic-txt">Cambiar</a></div>

                </div>
                <div class="left info-gen-line"></div>
                <div class="left info-gen-form">

                    <div class="left info-gen-form-part1">
                        <div class="title-form-field">Nombre</div>
                        <div class="top-field-form-1">
                            <input type="text" class="input-text-form-e">
                        </div>
                        <div class="title-form-field top-label-title">Fecha de Nacimiento</div>

                        <div class="top-field-form-1 ">

                            <div class="left">
                             <select class="input-select-op input-select-op-month">
                                 <option value="0">Mes</option>
                                 <option value="1">Enero</option>
                                 <option value="2">Febrero</option>
                                 <option value="3">Marzo</option>
                                 <option value="4">Abril</option>
                                 <option value="5">Mayo</option>
                                 <option value="6">Junio</option>
                                 <option value="7">Julio</option>
                                 <option value="8">Agosto</option>
                                 <option value="9">Septiembre</option>
                                 <option value="10">Octubre</option>
                                 <option value="11">Noviembre</option>
                                 <option value="12">Diciembre</option>
                             </select>
                            </div>

                            <div class="left left-day-select">
                            <select class="input-select-op input-select-op-day">
                                 <option value="0">D&iacute;a</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
                                 <option value="4">4</option>
                                 <option value="5">5</option>
                                 <option value="6">6</option>
                                 <option value="7">7</option>
                                 <option value="8">8</option>
                                 <option value="9">9</option>
                                 <option value="10">10</option>
                                 <option value="11">11</option>
                                 <option value="12">12</option>
                                 <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                 <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                            </div>

                            <div class="clear"></div>

                            <div class="title-form-field top-label-title">Pa&iacute;s</div>

                            <div class="top-field-form-1">

                            <select class="input-select-op input-select-op-country">
                                 <option value="0">Pa&iacute;s</option>
                                 <option value="Mexico">Mexico</option>
                                 <option value="USA">Estados Unidos</option>
                            </select>
                            </div>

                            <div class="title-form-field top-label-title">Nivel</div>

                            <div class="top-field-form-1">

                            <select class="input-select-op input-select-op-x">

                                 <option value="0">Nivel</option>
                                 <option value="1">Avanzado</option>

                            </select>
                            </div>

                             <div class="title-form-field top-label-title">Acerca de</div>

                        </div>

                    </div>


                    <div class="left info-gen-form-part2">
                        <div class="title-form-field">Apellidos</div>
                        <div class="top-field-form-1">
                            <input type="text" class="input-text-form-e">
                        </div>

                        <div class="top-select-year">
                            <select class="input-select-op input-select-op-year">
                                 <option value="0">A&ntilde;o</option>
                            </select>
                        </div>

                       <div class="title-form-field top-select">Ciudad</div>
                        <div class="top-field-form-1">
                            <input type="text" class="input-text-form-e">
                        </div>

                        <div class="title-form-field top-label-title">Distancia Favorita</div>

                            <div class="top-field-form-1">

                            <select class="input-select-op input-select-op-x">

                                 <option value="0">Distancia</option>
                                 <option value="1">5km</option>

                            </select>
                            </div>

                        <div class="title-form-field-2 top-label-title-2">Max 450 caracteres</div>




                    </div>
                    <div class="clear"></div>

                    <div class="top-field-form-1">
                        <textarea class="text-area-desc"></textarea>
                    </div>

                             <div class="btn-change-data-b">

                            <div class="txt-btn-cc"><a href="#" class="txt-btn-cc-link">Guardar Cambios</a></div>

                        </div>



                </div>
                <div class="clear"></div>
            </div>


            <div class="content-info-change-password" id="content-info-change-password">

            <form method="post">{% csrf_token %}
                <div class="info-gen-form-change">

                    <div class="left info-gen-form-part1">

                        <div class="title-form-field">Contrase&ntilde;a actual</div>
                        <div class="top-field-form-1">
                            <input type="password" class="input-text-form-e" name="current-password" id="current-password">
                        </div>


                    </div>


                    <div class="left info-gen-form-part2">
                        <div class="title-form-field">Nueva Contrase&ntilde;a</div>
                        <div class="top-field-form-1">
                            <input type="password" class="input-text-form-e" name="new-password" id="new-password">
                        </div>


                    </div>
                    <div class="clear"></div>



                    <div class="btn-change-data-p">

                         <div class="txt-btn-cc"><a href="javascript:void(0)" class="txt-btn-cc-link" id="btn-change-password-action">Cambiar</a></div>

                    </div>



                </div>
            </form>

            </div>

            <div class="bottom-edit-data">

                <div class="bottom-alert-status-perfil">
                    <div class="left" id="img-send-op"><img src="/{{ STATIC_URL }}imgs/cambios-enviados.png" width="20" height="20"></div>


                    <div class="left txt-alert-status-b" id="status-content-operation"></div>



                    <div class="clear"></div>
                </div>

            </div>

    </div>

    <div class="clear"></div>

</div>

{% include "Google/analytics.html" %}
</body>
</html>