{% load dictionary_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>FeelKm</title>
<link rel="stylesheet" href="/{{ STATIC_URL }}css/header.css" type="text/css" />
<link rel="stylesheet" href="/{{ STATIC_URL }}/css/myprofile.css" type="text/css" />
<link rel="stylesheet" href="/{{ STATIC_URL }}css/right.css" type="text/css" />
<link rel="stylesheet" href="/{{ STATIC_URL }}css/footer.css" type="text/css" />
<link rel="icon" href="/{{ STATIC_URL }}imgs/favicon.png" type="image/x-icon" />
{% include "Scripts/scripts.html" %}
<script src="/{{ STATIC_URL }}scripts/header.js"></script>
<script type="text/javascript">

$(function() {

      $('form').each(function() {

        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {

                if(this.form.id=="search-form-top"){

                  this.form.action="/search/?q="+$("#inputSearchHi").val()+"";

                }


                if(this.form.id=="search-form"){

                  this.form.action="/search/?q="+$("#q").val()+"";
                }


                this.form.submit();


            }
        });


    });

});

{% include "Scripts/secript_search_header.html" %}



</script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</head>
<body>
<div id="fb-root"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&appId=222474031234173&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="header-header">
<header>

{% include "Home/header.html" %}

</header>
</div>



<div class="content_info">

<div class="header-profile">



    <!--{% if user_aux.id_facebook == "" or  user_aux.id_facebook == None %}
            <div class="left img-profile-circle"><a href="javascript:void(0)"><img   src="/{{ STATIC_URL }}imgs/perfil-b.png" width="142" height="142" class="img-profile-circle-img"></a></div>
            {% else %}
            <div class="left img-profile-circle"><a href="javascript:void(0)" ><img src="{{ DATALOGIN.firtsFacebookPic }}" width="142" height="142" class="img-profile-circle-img" ></a></div>
   {% endif %}-->



            {% if DATALOGIN.pic_url == ""  or DATALOGIN.pic_url == None %}


                        {% if DATALOGIN.firtsFacebookPic == ""  or DATALOGIN.firtsFacebookPic == None %}

<div class="left img-profile-circle"><a href="javascript:void(0)"><img   src="/{{ STATIC_URL }}imgs/perfil-b.png" width="142" height="142" class="img-profile-circle-img"></a></div>
                            {% else %}

            <div class="left img-profile-circle"><a href="javascript:void(0)" ><img src="{{ DATALOGIN.firtsFacebookPic }}" width="142" height="142" class="img-profile-circle-img" ></a></div>

                            {% endif %}



                        {% else %}


    <div class="left img-profile-circle"><a href="javascript:void(0)"><img src="http://res.cloudinary.com/htyoqtggc/image/upload/h_200,w_200/{{ DATALOGIN.pic_url }}.jpg" width="142" height="142" class="img-profile-circle-img"></a></div>



                        {% endif %}




    <div class="left txt-data-profile-header">
        <div class="txt-name-profile">{{ request.user.first_name  | truncatewords_by_chars:15}} {{ request.user.last_name | truncatewords_by_chars:15 }}</div>
        <div class="txt-name-place">{{ request.user.username | truncatewords_by_chars:25 }} </div>
    </div>
    <div class="clear"></div>



    <div class="left member-section-from">
        <div class="left"><img src="/{{ STATIC_URL }}imgs/pin.png" border="0" width="12" height="16"></div>
        <div class="left txt-btnleft-hea-pro width-region">{{ DATALOGIN.city | truncatewords_by_chars:20 }}, {{ DATALOGIN.country | truncatewords_by_chars:20}}</div>
        <div class="clear"></div>
    </div>

    <div class="left edit-pro-section-from">
         <div class="left"><a href="/edit-profile/"><img src="/{{ STATIC_URL }}imgs/edit.png" border="0" width="16" height="16"></a></div>
        <div class="left txt-btnleft-hea-pro"><a href="/edit-profile/" class="txt-btnleft-hea-pro-link">Editar Perfil</a></div>
        <div class="clear"></div>
    </div>

    <div class="left close-pro-section-from">
        <div class="left"><a href="/logout/"><img src="/{{ STATIC_URL }}imgs/cerrar-sesion.png" border="0" width="16" height="16"></a></div>
        <div class="left txt-btnleft-hea-pro"><a  class="txt-btnleft-hea-pro-link" href="/logout/">Cerrar sesi&oacute;n</a></div>
        <div class="clear"></div>

    </div>
    <div class="clear"></div>

</div>



	<div class="infoGlobal left">

      	<div class="box-info-profile-left">
			<div class="title-box">

				<div class="box-into-txt-prof">

				    <div class="left"><img src="/{{ STATIC_URL }}imgs/favoritos.png" width="14" height="12"></div>
                    <div class="left txt-title-profile-box">{{ count_eventsf }} eventos favoritos</div>
                    <div class="clear"></div>

				</div>

			</div>

            <div class="box-content-profile-sec box-content-profile-sec-favorites">


                {% if count_eventsf <= 0  %}

                <div class="txt-no-add-event-data">Ning&uacute;n evento se ha agregado a favoritos.</div>

                {% else %}

                {% for list_events_f in  list_event_favorites %}

                <div class="elements-list-data-profile">

                    <div class="element-list-data-prof">
                        <div class="left">

                            <!--{{ list_events_f.id_event.id }}-->

                            {% for pics in list_pic_favorites %}

                                 {% for key,value in pics.items %}



                                        {% if key == list_events_f.id_event.id %}

                                         {% if value == 0 %}

                                            <a href="/{{ list_events_f.id_event.country | strip }}/{{ list_events_f.id_event.year_event }}/{{ list_events_f.id_event.month_event | replacedigit }}/{{ list_events_f.id_event.day_event | replacedigit }}/running/{{list_events_f.id_event.name_event | replacestr }}/{{ list_events_f.id_event.id }}/" target="_blank"><img src="/img/{{ key }}/" width="50" height="50" border="0" >

                                         {% else %}



                                           <a href="/{{ list_events_f.id_event.country | strip }}/{{ list_events_f.id_event.year_event }}/{{ list_events_f.id_event.month_event | replacedigit }}/{{ list_events_f.id_event.day_event | replacedigit }}/running/{{list_events_f.id_event.name_event | replacestr }}/{{ list_events_f.id_event.id }}/" target="_blank"><img src="http://res.cloudinary.com/htyoqtggc/image/upload/h_130,w_200/{{ value | shuffle }}.jpg" width="50" height="50"></a>


                                         {% endif %}


                                        {% endif %}


                                 {% endfor %}

                            {% endfor %}



                            </a></div>
                        <div class="left left-ele-data-pro">
                            <div class="title-el-event">{{ list_events_f.id_event.name_event }}</div>
                            <div class="title-el-event-city">{{ list_events_f.id_event.city | truncatewords_by_chars:20 }}, {{ list_events_f.id_event.region | truncatewords_by_chars:20 }}, {{ list_events_f.id_event.country }}</div>
                            <div class="del-favorites-element">
                                <div class="left del-favorites-element_1"><a href="/fav-delete/{{ list_events_f.id_event.id }}/" class="del-favorites-element-a"><img src="/{{ STATIC_URL }}imgs/icon_del.png"></a></div>
                                <div class="left del-favorites-element_2"><a href="/fav-delete/{{ list_events_f.id_event.id }}/" class="del-favorites-element-a">Eliminar de Favoritos</a></div>
                                <div class="clear"></div>
                            </div>

                        </div>

                        <div class="left date-favor">
                            <div class="calendar-f">{{list_events_f.date | date:"d" }}</div>
                            <div class="calendar-txt">{{list_events_f.date | date:"M"}}</div>
                        </div>
                        <div class="clear"></div>
                        <div class="line-element-list-pro"></div>
                    </div>




                </div>
                {% endfor %}

                {% endif %}

                    <!--{% for list_events_f in  list_event_favorites %}


                        {{ list_events_f.id_event.name_event }}


                    {% endfor %}-->

            </div>

	    </div>

           	<div class="box-info-profile-left">
			<div class="title-box">

				<div class="box-into-txt-prof">

				    <div class="left"><img src="/{{ STATIC_URL }}imgs/fotos.png" width="16" height="13"></div>
                    <div class="left txt-title-profile-box">{{ count_pics_add }} fotos agregadas.</div>
                    <div class="clear"></div>

				</div>

			</div>

            <div class="box-content-profile-sec box-content-profile-sec-favorites-pics pics-adds">

                {% if count_pics_add <= 0 %}

                     <div class="txt-no-add-event-data">Ning&uacute;na fotograf&iacute;a se ha agregado.</div>

                {% else %}
                <div class="left-div-imgs-adds">
                {% for pics_adss  in list_pics_adds_user %}




                 <div class="left img-add-prof-div">
                 <a href="http://res.cloudinary.com/htyoqtggc/image/upload/h_100,w_150/{{ pics_adss.file}}.jpg" target="_blank"><img src="http://res.cloudinary.com/htyoqtggc/image/upload/h_100,w_150/{{ pics_adss.file}}.jpg" class="img-add-prof"></a>
                 </div>




                {% endfor %}









          <div class="clear"></div>

                 </div>

                 {% endif %}



            </div>

	    </div>

           	<div class="box-info-profile-left">
			<div class="title-box">

				<div class="box-into-txt-prof">

				    <div class="left"><img src="/{{ STATIC_URL }}imgs/comentarios.png" width="16" height="16"></div>
                    <div class="left txt-title-profile-box">{{ count_comments_add }} comentarios</div>
                    <div class="clear"></div>

				</div>

			</div>

            <div class="box-content-profile-sec box-content-profile-sec-favorites">

                {% if count_comments_add == 0 %}

                 <div class="txt-no-add-event-data">Ning&uacute;na comentario se ha agregado.</div>

                {% else %}

                    {% for list_comments in list_comments_event %}


                        <div class="item-my-comments">


                            {% if list_comments.imgs == 0 %}

                            <div class="left"><img src="/img/{{ list_comments.comments.id_event.id}}/" class="img-comment-adf"></div>

                            {% else %}

                            <div class="left"><img src="http://res.cloudinary.com/htyoqtggc/image/upload/h_100,w_150/{{ list_comments.imgs | shuffle }}.jpg" class="img-comment-adf"></div>

                            {% endif %}



                            <div class="left title-1-comen-a">

                                <div class=""> <a href="" class="title-event-ad-c"> {{ list_comments.comments.id_event.name_event }}</a></div>
                                <div class="txt-place-evt-add">{{ list_comments.comments.id_event.city  | truncatewords_by_chars:20 }} {{ list_comments.comments.id_event.region | truncatewords_by_chars:20 }} {{ list_comments.comments.id_event.country }}</div>

                            </div>
                            <div class="left left-data-comment-add">
                                <div class="date-comm-add">{{ list_comments.comments.date }}</div>
                                <div class="califs-comment-adds">


                        {% if list_comments.comments.calif == 0 %}
                        <div class="FirtsNoFull left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}


                        {% if list_comments.comments.calif  == 1 %}
                        <div class="FirtsFull left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}


                        {% if list_comments.comments.calif  == 2 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}

                        {% if list_comments.comments.calif  == 3 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextNoFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}

                        {% if list_comments.comments.calif  == 4 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextNoFull  left"></div>
                        {% endif %}


                        {% if list_comments.comments.calif  == 5 %}
                        <div class="FirtsFull left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
						<div class="NextFull  left"></div>
                        {% endif %}




                                </div>
                            </div>
                            <div class="clear"></div>

                            <div class="txt-title-event-c-add"> {{ list_comments.comments.title_comment }} </div>
                            <div class="txt-title-event-compl-add"> {{ list_comments.comments.comment }} </div>

                           <div class="del-comments-element">
                                <div class="left del-favorites-element_1"><a href="/comment-delete/{{ list_comments.comments.id }}/" class="del-favorites-element-a"><img src="/{{ STATIC_URL }}imgs/icon_del.png"></a></div>
                                <div class="left del-favorites-element_2"><a href="/comment-delete/{{ list_comments.comments.id }}/" class="del-favorites-element-a">Eliminar comentario</a></div>
                                <div class="clear"></div>
                           </div>

                            <div class="line-bottom-comment-add"></div>

                        </div>


                    {% endfor %}

                {% endif %}

            </div>

	    </div>


	</div>


	 <!-- Include Right Section -->
    <div class="right-my-profile-a">
    {% include "Right/1.html" %}
    </div>

	<div class="clear"></div>
</div>
{% include "Footer/1.html" %}
{% include "Google/analytics.html" %}
</body>
</html>